.large-hero {
    position: relative;
  
    &__text-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      text-align: center;
    }
  
    &__title {
        font-size: 10rem;
        top: 50%;
        text-align: center;
        color: #fcedd8;
        background: #d52e3f;
        font-weight: 700;
        text-shadow: 5px 5px 0px #eb452b, 
                    10px 10px 0px #efa032, 
                    15px 15px 0px #46b59b, 
                    20px 20px 0px #017e7f, 
                    25px 25px 0px #052939, 
                    30px 30px 0px #c11a2b, 
                    35px 35px 0px #c11a2b, 
                    40px 40px 0px #c11a2b, 
                    45px 45px 0px #c11a2b;
                    margin-bottom: 0;
  }
    
    &__subtitle {
        font-size: 5rem;
        text-align: center;
        height: 30vh;
        color: #fcedd8;
        background: #d52e3f;
        font-weight: 700;
        text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032, 
                  15px 15px 0px #46b59b, 
                  20px 20px 0px #017e7f, 
                  25px 25px 0px #052939, 
                  30px 30px 0px #c11a2b, 
                  35px 35px 0px #c11a2b, 
                  40px 40px 0px #c11a2b, 
                  45px 45px 0px #c11a2b;
                  margin-top: 0;
                  margin-bottom: auto;

 }
  
}